{% extends 'base.html' %}
{% block scripts %}
    <script src="/js/lc_lightbox.lite.min.js"></script>
    <script>
        lc_lightbox('.elem', {
            wrap_class: 'lcl_fade_oc',
            gallery : true, 
            thumb_attr: 'data-lcl-thumb', 
            skin: 'dark',
            // more options here
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/searchSelect.js"></script>
    <script>
        function callback(data, page) {
            return {
                results: data.map((city) => {
                return {
                    id: city._id,
                    text: city.name,
                };
                }),
            }
        }
      searchSelect('#id_city','/api/cities', callback, "Select a city");
    </script>
{% endblock scripts %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/lc_lightbox.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Faces of the Cities</h1>
                <p class="lead">Discover each cities most beautiful places.</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/images">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Faces of the cities</li>
            </ol>
        </nav>
    </div>
</section>
<section id="listings" class="py-4">
    <div class="container">
    <form id="selectCityForm" method="GET" action="/images/faces_of_cities">
        <div class="input-group flex-nowrap mb-3">
            <select name="city" class="form-control" required id="id_city" placeholder="Select a city">
                
            </select>
            <div class="input-group-prepend">
                <button class="input-group-text" id="selectCityForm">Search</button>
                <a class="input-group-text" href="/images/faces_of_cities">Reset</a>
            </div>
        </div>
    </form>
        <div class="row">
            {% if facesOfCities %}
                {% for id, images in facesOfCities %}
                
                    <div class="col-md-12 text-center m-4"><h3 class="m-auto">{{images[0].location.city.name}}</h3></div>
                        
                    {% for image in images %}
                        <div class="col-md-3 col-lg-3 mb-4">
                        <a class="elem" 
                            href="{{ image.photoUrl }}" 
                            title="<span>{{ image.location.city.name }}</span> | {{ image.title }}"
                            data-lcl-txt="{{ image.description }}" 
                            data-lcl-author="{{ image.user.username }}" 
                            data-lcl-thumb="{{ image.photoUrl }}">
                            <span style="background-image: url({{ image.photoUrl }});"></span>
                            <img class="img-fluid" src="{{ image.photoUrl }}" alt="{{ image.title }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No images avaliable</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}