{% extends 'base.html' %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Most Popular Destinations</h1>
                <p class="lead">Tourist's favorite places.</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/images">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Most Popular Destinations</li>
            </ol>
        </nav>
    </div>
</section>

<div class="container">
    <div class="row">
        {% if popularDestinations %}
            {% for city in popularDestinations %}
                <div class="col-md-12 col-lg-12 mb-4 gallery">
                    <div class="card mb-3" >
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img src="{{ city.photoUrl }}" class="card-img" alt="{{ city.name }}">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title">{{ city.name }}</h5>
                                <h6 class="card-title mt-2">Description:</h3>
                                <div class="card-text">
                                    <span class="text-secondary">Images taken from that city by tourists:</span> {{ city.count }}
                                </div>
                                <a href="/images/browse_images?city={{ city._id }}"class="btn btn-primary bottom-right text-light">View all images</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p>No data avaliable</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock  %}