{% for image in images %}
    <div class="col-md-6 col-lg-4 mb-4 gallery">
        <div class="card listing-preview">
            <a class="elem" 
                href="{{ image.photoUrl }}" 
                title="{{ image.title }}" 
                data-lcl-txt="{{ image.description }}" 
                data-lcl-author="{{ image.user.username }}" 
                data-lcl-thumb="{{ image.photo.url }}">
            <span style="background-image: url({{ image.photoUrl }});"></span>
            <img class="card-img-top" src="{{ image.photoUrl }}" alt="{{ image.title }}">
            </a>
            <div class="card-body">
                <div class="listing-heading text-center">
                    <h6 class="text-primary">{{ image.title }}</h6>
                    <h6 class="text-secondary">
                        {% if image.rate_avg %}
                        Rating: 
                            {{ image.rate_avg }}
                        {% endif %}
                        <small>{{image.location.city.name}}</small>
                    </h6>
                </div>
                <hr>
                <a href="/images/image/{{image._id}}" class="btn btn-primary btn-block">Details | Comment</a>
            </div>
        </div>
    </div>
{% endfor %}
