{% extends 'base.html' %}

{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/images">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> 
                    <a href="/users/leaderboard"> Leaderboard</a>
                </li>
                <li class="breadcrumb-item active"> {{ user.username }}</li>
            </ol>
        </nav>
    </div>
</section>
<section id="userdata">
  <div class="container">
    <a href="/users/leaderboard" class="btn btn-light mb-4">Back To Leaderboard</a>
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ images[0].photoUrl }}" alt="Last uploaded image">
          <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <h6 class="text-secondary">{{ user.name.firstName }} {{ user.name.lastName }}</h6>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-money-bill-alt"></i> Username: 
                <span class="float-right">{{ user.username }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> First Name:
                <span class="float-right">{{ user.name.firstName }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bath"></i> Last Name:
                <span class="float-right">{{ user.name.lastName }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-car"></i> Email:
                <span class="float-right"><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-square"></i> Join Date:
                <span class="float-right">{{ user.dateJoined | date }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Location:
                <span class="float-right">{{ user.location.country }} | {{ user.location.city }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> Uploaded Images:
                <span class="float-right">{{ numberOfImages }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> User rank:
                <span class="float-right"><a href="/users/leaderboard?username={{user.username}}" class="btn btn-primary btn-sm">Check rank here</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="listings" class="py-4">
  <div class="container">
      <div class="row">

          {% if images %}
              {% include 'partials/_image_list.html' %}
          {% else %}
              <div class="col-md-12">
                  <p>No images avaliable</p>
              </div>
          {% endif %}
      </div>
  </div>
</section>
{% endblock  %}